.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    img {
        width: 80%;
        border-radius: 50%;
        align-self: center;
    }
}

.aboutMe {
    padding: 2rem .5rem;
    h1 {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    h2 {
        text-align: center;
        font-weight: normal;
        margin-bottom: 1rem;
    }
    p.description {
        text-align: center;
    }
}

.mobileGap {
    // margin for the about page's card so it's the same as the margin applied on other cards
    margin-top: 1.25rem;
}

@include media(600px) {
    .aboutPage {
        display: flex;
        .imageContainer{
            flex-basis: 45%;
            align-self: center;
            margin-top: 0;
            img {
                width: 100%;
            }
        }
        .aboutMe {
            flex-basis: 50%;
            position: relative;
            // headings are positioned this way to give it the hover over image effect
            h1 {
                width: 150%;
                position: relative;
                left: -50%;
            }
            h2 {
                position: relative;
                width: 100%;
                left: -25%;
            }
            p.description {
                // adjusting width here so that paragraph could extend wrapper and allow it more size
                text-align: left;
                margin-left: 1rem;
                width: 115%;
                position: relative;
                left: -5%;
            }
        }
    }
}

@include media(800px) {
    .aboutPage {
        .imageContainer {
            flex-basis: 50%;
        }
        .aboutMe {
            h1,
            h2,
            li,
            p.description {
                text-align: left;
            }
        }
    }
}

@include media(1050px) {
    .aboutPage {
        .imageContainer{
            padding-bottom: 2.5rem;
        }
        .aboutMe {
            padding-top: 5rem;
            h1 {
                left: -20%;
            }
            h2 {
                left: -7.5%;
            }
            p.description {
                left: -2.5%;
            }
        }
    }
}